html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "M PLUS 1p", sans-serif;
  line-height: 1.3;
  transition: background-color 1s ease-out, color 0.5s ease-out;
}

#quote-box {
  width: 95%;
  display: block;
  height: auto;
  min-height: 20rem;
  border-radius: 5px;
  padding: 2rem;
  margin: auto;
  font-size: 1rem;
  background-color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px #4d4d4d;
}

.shimmer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #eff1f3 4%, #d6d6d6 25%, #eff1f3 36%);
  background-size: 1000px 100%;
  animation: loadingShimmer 2s infinite;
  z-index: 1;
  border-radius: 5px;
  margin: 0;
}

#quote-box p {
  transition: opacity 0.5s ease-out;
}
#author {
  font-size: 14px;
  text-align: right;
  margin-top: 0.5rem;
}

.button-section {
  display: flex;
  justify-content: space-between;
  text-align: right;
  margin-top: 1rem;
}

.share-buttons {
  display: flex;
}

#new-quote {
  padding: 0.7rem 1rem;
  border: none;
  color: white;
  border-radius: 5px;
  position: relative;
  right: 0;
  outline: 2px solid teal;
  cursor: pointer;
  outline: none;
}

#new-quote:hover,
#tweet-quote:hover,
#tumblr-quote:hover {
  filter: brightness(0.9);
}

#tweet-quote,
#tumblr-quote {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  padding: 5px;
  background-color: transparent;
  margin: auto 1rem;
  border-radius: 5px;
}

#tweet-quote svg,
#tumblr-quote svg {
  width: 100%;
  height: 100%;
}

.coder-section p {
  font-size: 13px;
  text-align: center;
}
@keyframes loadingShimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

@media screen and (min-width: 640px) {
  #quote-box {
    width: 90%;
    max-width: 700px;
    font-size: 2rem;
  }
}
